<div class="site-chat">
    <div class="chat-messages" id="chatMessages">
        <p>Chat to other players</p>
    </div>
    <div class="write-chat">
        <input type="text" id="chat-message" placeholder="Leave a message">
    </div>
</div>