<div class="table-row clearfix site-score-titles">
    <div class="entry">
        <h3> Username </h3>
    </div>
    <div class="entry">
        <h3> Kills </h3>
    </div>
    <div class="entry">
        <h3> Deaths </h3>
    </div>
</div>