{{> head}}
<body style="margin: 0;" class="background-connect-frame">
    <div class="content">
        <header class="site-header">
            <h1 class="site-game-title">SPUNCHERS.IO</h1>
        </header>
        <section class="site-gamemode-links container">
            <a href="/online">Free for All</a>
            <a href="/teams">Team Deathmatch</a>
            <a href="/ctf">Capture the flag</a>
        </section>
        <footer class="site-footer">
            <div class="container developer-contact clearfix">
                <div class="site-programmer">
                    <h2>Programmer</h2>
                    <div class="contact-details">
                        <p>Jorge</p>
                        <p>jorgelmh_01@hotmail.com</p>
                    </div>
                </div>
                <div class="site-designer">
                    <h2>Designer</h2>
                    <div class="contact-details">
                        <p>Santiago</p>
                        <p>tracoswar@gmail.com</p>
                    </div>
                </div>
            </div>
            <p class="credits" >Sounds from <a href="https://Zapsplat.com">Zapsplat.com</a></p>
        </footer>
    </div>
    
    <div id="background-frame">
    </div>
</body>
</html>