{{> head}}
<body style="margin: 0; overflow:hidden;" class="background-connect-frame">
    {{> selectScreen}}

    <div id="site-game">
        <canvas id="game"></canvas>
        <div id="site-hud">
            {{> chat}}
            <div class="leaderboard">
                <h1>leaderboard</h1>
                <div class="scores" id="scores">
                </div>
            </div>
            <div id="bullets">
                <p id="charger">4/4 </p>
            </div>
            <div id="site-individual-scores">
                {{> scoreTitles}}
                <div id="site-scores-data">

                </div>
            </div>
        </div>
    </div>
    
    <script src="../dist/loadcharacters.bundle.js"></script>
    <script src="../dist/online.bundle.js"></script>
</body>
</html>