{{> head}}
<body style="margin: 0; overflow:hidden;" class="background-connect-frame">
    {{> selectScreen}}

    <div id="select-teams">
        <div class="team" id="site-blue-team">
            <div class="site-team-name">
                <h1>Federal Bureau of Investigation</h1>
                <img src="../assets/resources/fbi-logo.png">
            </div>
            <div id="blue-team-players">

            </div>
        </div>
        <div class="team" id="site-red-team">
            <div class="site-team-name">
                <h1>Gambinos Family</h1>
                <img src="../assets/resources/gambinos_logo.png">
            </div>
            <div id="red-team-players">

            </div>
        </div>
    </div>

    <div id="site-game">
        <canvas id="game"></canvas>
        <div id="site-hud">
            {{> chat}}
            <div class="leaderboard" style="max-width: 250px;">
                <div class="site-team-scores">
                    <div class="team-score">
                        <img class="score-flag" src="../assets/resources/fbi-logo.png">
                        <h2 id="fbi-score">0</h2>
                    </div>
                    <p style="color: white;
                    font-size: 40px;
                    margin: 0;">-</p>
                    <div class="team-score">
                        <img class="score-flag" src="../assets/resources/gambinos_logo.png">
                        <h2 id="gambinos-score">0</h2>
                    </div>
                </div>
            </div>
            <div id="bullets">
                <p id="charger">4/4 </p>
            </div>
            <div id="site-individual-scores">
                {{> scoreTitles}}
                <div id="scores-team-blue">

                </div>
                <div id="scores-team-red">

                </div>
            </div>
        </div>
    </div>
    
    <script src="../dist/loadcharacters.bundle.js"></script>
    <script src="../dist/teams.bundle.js"></script>
</body>
</html>